
.dark-theme{
    --fg-color: #fff; 
    --bg-color: #2f2f2f;
    --border-color: #464646;
    --projected-color: #393939;
}
.light-theme{
    --fg-color: #595959; 
    --bg-color: #fff;
    --border-color: #ccc;
    --projected-color: #e8e8e8;
}
:root {
    font-size: 62.5%; 

    --akg-yellow: #f9c826;
    --akg-red: #f94f4f;
}
body{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 3rem;
    color: var(--fg-color);
    background-color: var(--bg-color);
    height: 100vh;
    width: 100%;
}
.intro-content {    
    font-size: 17vw;
    line-height: 15.5vw;
    font-weight: 500; 
    margin: 0 auto;
    width: max-content;
}
.intro-content__dot{
    color:var(--akg-red);
}
.nav-links a {
    color: inherit; 
    text-decoration: none;
    height: max-content;
}
.nav-links {
    margin-top: 100px;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
}
.nav-links__item {
	border: 1px dashed var(--border-color);
	margin-bottom: 1.2rem;
    cursor: pointer;
    height: max-content;
    padding: 1rem;
}
.nav-links__item:hover {
    background: var(--projected-color);
    border-color: var(--projected-color);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.theme-switch, .social-button {
	position: absolute;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	cursor: pointer;
    padding: 10px;
    background: var(--projected-color);
}
.light-theme .theme-switch__icon, .light-theme .social-button__icon{
    background:url(../images/moon-black.svg);
    width: 24px;
    height: 24px;
    filter: invert(77%) sepia(0%) saturate(0%) hue-rotate(138deg) brightness(90%) contrast(88%);
}
.dark-theme .theme-switch__icon, .dark-theme .social-button__icon{
    background:url(../images/day-sunny.svg);
    width: 24px;
    height: 24px;
    filter: invert(77%) sepia(0%) saturate(0%) hue-rotate(138deg) brightness(90%) contrast(88%);
}
.theme-switch{
    top: 10px;
	right: 10px;
}
.social-button{
    position: relative;
    z-index: 3;
}
.social-links-container{
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    align-items: center;
}
.light-theme .social-button__icon, .dark-theme .social-button__icon{
    background:url(../images/link-line.svg);
}
.social-links{
    width: calc(100vw - 45px);
    height: 44px;
    background-color: var(--projected-color); 
    margin-left: -20px;
    border-radius: 0 20px 20px 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;

    -moz-transition: -moz-transform .5s;
    -o-transition: -o-transform .5s;
    -webkit-transition: -webkit-transform .5s;
     -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    -webkit-transform-origin: left;
    transform-origin: left;
    transition: transform .5s;
}
.social-links--hide {
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);   
}

.social-links a{
    text-decoration: none;
}
.social-links__icon {
    width: 40px;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-left: 5px;
}
.social-links__icon img{
    height: 32px;
    transform: translateX(0);
}

/* Check browser support for Grid features - and enable better layout */

@supports (display: grid) {
    body{
        padding: 0;
    }
    .nav-links {
        margin-top: 0;
    }
    .content {
        display: grid;
        gap: 20px;
        grid-template-columns: 20px 1fr 20px;
        grid-template-rows: 30px 0.5fr 2fr 1fr 80px;
        grid-template-areas: 
        "header header theme-switch"
        ". . ."
        ". intro ."
        ". nav-links ."
        "social-icon footer footer";
        height: 100%;
        width: 100%;
    }
    .intro-content{
        grid-area: intro;
    }
    .nav-links{
        grid-area: nav-links;
    }
}


/* Overriding grid & styles for large devices */
@media (min-width:640px) {
    .social-links{
        width: 300px;
    }
}

@media (min-width:960px) {        
    .bg-pattern__circle--1 {
        border: 8px solid var(--akg-yellow);
        border-radius: 22px;
        position: absolute;
        width: 50px;
        height: 50px;
        left: 10%;
        top: 45%;
    }
    .bg-pattern__circle--2 {
        border: 10px solid var(--akg-yellow);
        border-radius: 35px;
        position: absolute;
        width: 80px;
        height: 80px;
        left: 30%;
        top: 25%;
        opacity: 0.6;
    }
    .bg-pattern__circle--3 {
        border: 6px solid var(--akg-yellow);
        border-radius: 13px;
        position: absolute;
        width: 30px;
        height: 30px;
        left: 45%;
        top: 85%;
    }
}

@media (min-width:641px) {
    .intro-content {    
        font-size: 8vw;
        line-height: 8vw;
    }
    .intro-content {
        margin: 0;
        z-index: 1;
    }
    .nav-links {
        display: flex;
        z-index: 1;
    }
    .nav-links__item {
        margin-bottom: 0;
        margin-right: 1rem;
    }
    .social-links__icon i, .social-links__icon img{
        opacity: 0.6;
    }
    .social-links__icon:hover i, .social-links__icon:hover img{
        opacity: 1;
    }

    @supports (display: grid) {
        .content {
            display: grid;
            gap: 20px 10px;
            grid-template-columns: 50px 1fr 1fr 50px;
            grid-template-rows: 40px 1fr 2fr 100px 60px;
            grid-template-areas: 
            "header header header theme-switch"
            ". . . ."
            ". . intro intro"
            ". . nav-links  ."
            "social-icon footer footer footer";
            height: 100%;
            width: 100%;
        }
    }
}

body.dark-theme-transition{
    animation: lighttodark 0.5s;
    color: #fff; 
    background-color: #2f2f2f;
}
body.light-theme-transition{
    animation: darktolight 0.5s;
    color: #595959; 
    background-color: #fff;
}

@keyframes lighttodark {
  from {color: #595959; background-color: #fff;}
  to {color: #fff; background-color: #2f2f2f;}
}

@keyframes darktolight {    
    from {color: #fff; background-color: #2f2f2f;}
    to {color: #595959; background-color: #fff;}
}